<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Server</title>
</head>
<body>

<div style="height: 50px;margin-top: 0px;width: 100%;float: right; background-color: rgba(250,250,250,1);border-width: 0;border-bottom-width: 1px;border-style:solid;border-color: rgba(230,230,230,1);">
  <a style="color: black;width: 100%;float: right;text-align: center; font-size: 22px;margin-top: 10px;">假数据服务</a>
</div>

<div style="top: 70px">
    <input type="inputtext" id="foldername">
    <input type="button" value="查询" id="check">
    <!--<input type="button" value="创建" id="create">-->
</div>

<div id="files">

</div>

<div id="content">
    <textarea id="textarea1" placeholder="请输入接口内容，请保证是标准JSON"></textarea>
    <input type="button" value="保存" id="insert" style="position: absolute;margin-left: 10px;top: 475px;background-color: rgba(0,0,0,0.1);color: rgba(110,110,110,1);width: 50px;height: 30px;font-size: 15px;border-width: 0px;border-radius:5px;">
    {% csrf_token %}
</div>

</body>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">

    needDownCount = true;
    goon = true;
    foldername = ''
    filename = ''

    $(document).ready(function(){
        $("#check").click(function () {
            alert('check')
            folder = $("#foldername").val()
            if (folder.length == 0) {
                alert('请输入查询的用户名')
                return
            }

            foldername = folder

            $.get("/getforderlist/", {'foldername': foldername},function(ret){
                if (ret == 'none'){
                    alert('用户不存在不存在请创建新用户')
                }
                $("#files").empty();
                ret = ret.split("+")
                var optionstring = "";
                for (var i in ret) {
                    var jsonObj = ret[i]
                    if (jsonObj.length == 0) {
                        return
                    }

                    if (i == 0) {
                        var btn=$("<input type='button' style='background-color: rgba(0,0,0,0.1);color: rgba(110,110,110,1);width: 50px;height: 30px;font-size: 15px;border-width: 0px;border-radius:5px;' id='0' value=\'" + 'url1' + "\'><br/><br/>");
                        $("#files").append(btn);
                        addBtnEvent('0');
                    }else if(i == 1) {
                        var btn=$("<input type='button' style='background-color: rgba(0,0,0,0.1);color: rgba(110,110,110,1);width: 50px;height: 30px;font-size: 15px;border-width: 0px;border-radius:5px;' id='1' value=\'" + 'url2' + "\'><br/><br/>");
                        $("#files").append(btn);
                        addBtnEvent('1');
                    }else if(i == 2) {
                        var btn=$("<input type='button' id='2' style='background-color: rgba(0,0,0,0.1);color: rgba(110,110,110,1);width: 50px;height: 30px;font-size: 15px;border-width: 0px;border-radius:5px;' value=\'" + 'url3' + "\'><br/><br/>");
                        $("#files").append(btn);
                        addBtnEvent('2');
                    }else if(i == 3) {
                        var btn=$("<input type='button' id='3' style='background-color: rgba(0,0,0,0.1);color: rgba(110,110,110,1);width: 50px;height: 30px;font-size: 15px;border-width: 0px;border-radius:5px;' value=\'" + 'url4' + "\'><br/><br/>");
                        $("#files").append(btn);
                        addBtnEvent('3');
                    }else if(i == 4) {
                        var btn=$("<input type='button' id='4' style='background-color: rgba(0,0,0,0.1);color: rgba(110,110,110,1);width: 50px;height: 30px;font-size: 15px;border-width: 0px;border-radius:5px;' value=\'" + 'url5' + "\'><br/><br/>");
                        $("#files").append(btn);
                        addBtnEvent('4');
                    }else if(i == 5) {
                        var btn=$("<input type='button' id='5' style='background-color: rgba(0,0,0,0.1);color: rgba(110,110,110,1);width: 50px;height: 30px;font-size: 15px;border-width: 0px;border-radius:5px;' value=\'" + 'url6' + "\'><br/><br/>");
                        $("#files").append(btn);
                        addBtnEvent('5');
                    }else if(i == 6) {
                        var btn=$("<input type='button' id='6' style='background-color: rgba(0,0,0,0.1);color: rgba(110,110,110,1);width: 50px;height: 30px;font-size: 15px;border-width: 0px;border-radius:5px;' value=\'" + 'url7' + "\'><br/><br/>");
                        $("#files").append(btn);
                        addBtnEvent('6');
                    }else if(i == 7) {
                        var btn=$("<input type='button' id='7' style='background-color: rgba(0,0,0,0.1);color: rgba(110,110,110,1);width: 50px;height: 30px;font-size: 15px;border-width: 0px;border-radius:5px;' value=\'" + 'url8' + "\'><br/><br/>");
                        $("#files").append(btn);
                        addBtnEvent('7');
                    }else if(i == 8) {
                        var btn=$("<input type='button' id='8' style='background-color: rgba(0,0,0,0.1);color: rgba(110,110,110,1);width: 50px;height: 30px;font-size: 15px;border-width: 0px;border-radius:5px;' value=\'" + 'url9' + "\'><br/><br/>");
                        $("#files").append(btn);
                        addBtnEvent('8');
                    }else if(i == 9) {
                        var btn=$("<input type='button' id='9' style='background-color: rgba(0,0,0,0.1);color: rgba(110,110,110,1);width: 50px;height: 30px;font-size: 15px;border-width: 0px;border-radius:5px;' value=\'" + 'url10' + "\'><br/><br/>");
                        $("#files").append(btn);
                        addBtnEvent('9');
                    }
                }
            })
        });

        $("#create").click(function () {
            folder = $("#foldername").val()
            if (folder.length == 0) {
                alert('请输入用户名')
            }

            $.get("/createforder/", {'foldername': folder},function(ret){
                alert(ret)

            })

        });

        $("#read").click(function(){

            $.get("/getcontent/", {'branch': 'hanshenghui'},function(ret){
                $('#textarea1').html(ret)
            })
        });

        $("#insert").click(function(){
            text =  $('#textarea1').val()
            $.post("/writecontent/", {'content': text,'foldername':foldername,'filename':filename},function(ret){
                alert(ret)
            })
        });
    });

    function addBtnEvent(id){
        $("#"+id).bind("click",function(){
            var $this = $(this);
            filename = $this.val()
            $('#textarea1').html('')
            $.get("/getcontent/", {'filename': foldername + '+' + filename},function(ret){
                $('#textarea1').val(ret)
            })
        });
    }

</script>

<style>
#title{
    background-color: black;
    color: white;
    height: 30px;
    text-align:center;
    padding: 20px;
    font-size: 30px;
}

#files{
    background-color: rgba(230,230,230,0.2);
    height: 500px;
    width: 200px;
    margin-top: 20px;
}

#content{
    position: absolute;
    margin-left:230px;
    /*background-color: lightgray;*/
    height: 500px;
    text-align:center;
    font-size: 30px;
    top: 100px;
}

#textarea1{
    width:800px;//初始宽度
max-width:1500px;//最大宽度
min-width: 300 px;
    height:500px;//初始高度
max-height:500px;//最大高度
min-height:500px;
    overflow-y:auto;//让滚动条自适应，保证兼容性
vertical-align: middle;
border-color: rgba(200,200,200,1);
/*text-align: center;*/
}

#insert{
    width: 50px;
    height: 20px;
}

</style>

</html>